header nav>ul{
    overflow: hidden;
}
header nav>ul>li{
    float:left;
}
header nav, header div.logo{
    clear: both;
}
header{
    position: relative;
    height: 150px;
}
header a{
    /* inline > inline block : width, height, padding, margin 입력하기 위해 */
    display: inline-block;
    border: 1px solid black;
}
header nav.tnb{
    position: absolute;
    top: 0;
    right: 0;
}
header nav.bnb{
    position: absolute;
    bottom: 0;
    right: 0;
}
header div.logo{
    position: absolute;
    top: 50px;
    left: 20px;
}
header a{
    display: inline-block;
    border: 1px solid black;
}
header .tnb a{
    padding: 5px 10px;
}
header .bnb a{
    padding: 10px 15px;
}

header li:first-child > a{
    border-radius: 15px 0 0 15px;
}
header li:last-child > a{
    border-radius: 0 15px 15px 0 ;
}
header a:hover{
    background-color: black;
    color: white;
}